{% set pm2 = salt['grains.filter_by']({
  'default': {
    'enabled': 'True',
    'version': 'latest',
    'default_instance': 'root'
  },
  'Arch': {
  },
  'Debian': {

  },
  'RedHat': {

  },
}, merge=pillar.get('pm2', {}), base='default') %}


